footer {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #ccc solid;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}