 header {
            height: 70px;
            width: 100%;
            background-color: white;
            background-image: url("../images/logo.png");
            background-repeat: no-repeat;
            border-bottom: 1px #ccc solid;
        }