.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: solid 1px #ff5a5f;
  border-radius: 4px;
  position: relative;
}

.places h1 {
  font-size: 30px;
  width: 100%;
}

.places article h2 {
  font-size: 30px;
  text-align: center;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price_by_night {
  color: #ff5a5f;
  border: #ff5a5f 4px solid;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 68px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 6px;
  right: 10px;
}

.places h2 {
  margin-top: 0;
}

.information {
  height: 80px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.information div {
  width: 100px;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding-top: 50px;
}

.max_guest {
  background-image: url("../images/icon_group.png");
}

.number_rooms {
  background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
  background-image: url("../images/icon_bath.png");
}
